:root {
  --content-max-width: 1100px;
  --post-content-max-width: 700px;
  --gutter: 16px;
}

@media screen and (min-width: 401px) {
  :root { --gutter: 20px; }
}

@media screen and (min-width: 601px) {
  :root { --gutter: 24px; }
}

#main-wrapper {
  padding: 0 var(--gutter);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.icon {
  display: inline-block;
}

.tag {
  font-size: 15px;
  font-weight: 400;
  background-color: var(--primary);
  color: white;
  padding: 1px 6px;
  border-radius: 3px;
}

.btn {
  box-sizing: content-box;
  margin-bottom: 5px;
  display: inline-block;
}

#page-content h1 {
  margin: 16px 0;
}

#filters {
  padding: 0 20px;
  margin-bottom: 40px;
}
#filters button,
#filters [role=button] {
  margin: 0 0 5px 0;
  padding: 0 10px;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  display: inline-block;
  width: initial;
  text-transform: uppercase;
}
#filters button.active,
#filters [role=button].active {
  background-color: #7cb342;
  border-color: #7cb342;
}

[data-theme="dark"] .separator {
  border-bottom: 1px solid var(--muted-border-color);
}

[data-theme="light"] .separator {
  border-bottom: 1px solid #DDD;
}