:root {
  --content-max-width: 1024px;
  --desktop-gutter: 20px;
  --mobile-gutter: 16px;
}

.align-center {
  text-align: center;
}

.icon {
  display: inline-block;
}

.tag {
  font-size: 15px;
  font-weight: 400;
  background-color: var(--primary);
  color: white;
  padding: 1px 6px;
  border-radius: 3px;
}

.btn {
  box-sizing: content-box;
  margin-bottom: 5px;
  display: inline-block;
}

@media screen and (min-width: 601px) {
  #main-wrapper {
    padding: 0 20px;
    max-width: var(--content-max-width);
    margin: 0 auto;
  }
}

#page-content h1 {
  margin: 16px 0;
}

#filters {
  padding: 0 20px;
  margin-bottom: 40px;
}
#filters button,
#filters [role=button] {
  margin: 0 0 5px 0;
  padding: 0 10px;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  display: inline-block;
  width: initial;
  text-transform: uppercase;
}
#filters button.active,
#filters [role=button].active {
  background-color: #7cb342;
  border-color: #7cb342;
}

#footer {
  text-align: center;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 30px;
  max-width: 800px;
  margin: 0 auto;
}

#footer p {
  font-size: .8em;
  padding: 2px 10px;
  margin: 0;
  position: relative;
  display: inline-block;
}

[data-theme="dark"] .separator {
  border-bottom: 1px solid #172631;
}

[data-theme="light"] .separator {
  border-bottom: 1px solid #DDD;
}

[data-theme="dark"] iframe[src*="disqus.com"] {
  color-scheme: light;
}

[data-theme="light"] iframe[src*="disqus.com"] {
  color-scheme: light;
}