#header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  max-width: var(--content-max-width);
}

.header-content {
  position: relative;
  margin: 0 var(--desktop-gutter);
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0,.15);
}

@media screen and (max-width: 600px) {
  #header {
    padding: var(--mobile-gutter) 0 0;
  }
  .header-content {
    margin: 0;
  }
}

[data-theme="dark"] #header {
  filter: invert(100%);
}

#header .logo-wording {
  font-size: 18px;
  display: inline-block;
  color: black;
  letter-spacing: 0;
}

#header .logo {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 36px;
  height: 44px;
  z-index: 1;
  opacity: 0.8;
}

#header .logo-symbol {
  stroke: black;
  fill: black;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  top: -4px;
}

#header .cursor {
  margin-left: 3px;
  position: absolute;
  top: 24px;
  opacity: 0.5;
  filter: invert(100%);
}

@media screen and (max-width: 600px) {
  #header .logo {
    position: initial;
  }
}

@media screen and (max-width: 800px) {
  #header .logo-symbol {
    margin-right: 0;
  }
  #header .logo .logo-wording,
  #header .logo .cursor {
    display: none;
  }
}

#main-menu {
  position: relative;
  margin: 0;
  width: 100%;
  height: 79px;
  list-style-type: none;
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  #main-menu {
    height: auto;
  }
}

#main-menu li {
  display: inline-block;
  position: relative;
}

#main-menu li a {
  display: inline-block;
  position: relative;
  color: black;
  padding: 0;
  height: 22px;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0 14px;
  border-color: transparent;
  border-style: solid;
}

#main-menu li a:focus,
#main-menu li div:focus {
  background: none;
}

#main-menu li a:hover,
#main-menu li div:hover {
  color: black;
}

#main-menu li.active a::after,
#main-menu li a:hover::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 28px;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,.67);
}

.controls {
  margin: 0 0 10px 0;
}

@media screen and (min-width: 601px) {
  #header .logo:hover {
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,.67);
  }
  #main-menu li a,
  #main-menu li div {
    padding: 48px 0 0;
    height: 79px;
  }
  #main-menu li.active a::after,
  #main-menu li a:hover::after {
    top: 79px;
  }
  .controls {
    position: absolute;
    z-index: 1;
    margin: 0;
    right: 0;
    top: 42px;
  }
}

.controls .header-button {
  padding: 0;
  font-size: 16px;
  border-width: 0;
  opacity: 0.8;
  text-decoration: none;
}

.controls .header-button svg {
  fill: black;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.controls .header-button:hover {
  opacity: 1;
  cursor: pointer;
}

.controls .theme-toggle,
.controls .github-button {
  margin-left: 12px;
  background: none;
}

.controls .search-button:hover::after {
  display: none;
}
