<footer id="footer">
  <p>&copy; Joan Mira &bull; Freelance Software Engineer &bull; Interactive Front-end Developer &bull; Creative Technologist &bull; UI UX Designer &bull; Senior Project Manager &bull; Tokyo (Japan) &bull; Alicante (Spain) &bull; London (UK)</p>
  <p><a href="/credits">Credits and tech stack</a> &bull; <a href="/privacy">Privacy policy</a> &bull; <a href="/rss.xml">Blog RSS Feed</a></p>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6XPHBVRLLJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6XPHBVRLLJ');
  </script>
</footer>